[Unit]
Description=Start GUI Application

[Service]
Type=simple
ExecStart=/opt/start_app.sh

[Install]
After=network.online.target
WantedBy=multi-user.target
